
html,body {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

h1 {
  font-size: 40px;
}

.page {
  height: 100%;
  display: flex;

  > div {
    flex: 3 0 0;
  }

  > .controls {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > .layers {
      flex: 1 0 0;
      display: flex;

      .layer-control {
        flex: 1 0 0;

        .layer-slider {
          display: flex;
          justify-content: space-between;
          padding: .5em 1em;
        }
      }
    }

    .layer-button {
      cursor: pointer;
    }
  }
}

.layer {
  padding: 10px 10px;
}
