
html,body {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

h1 {
  font-size: 40px;
}

div.main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}